/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

body, button, input {
  font-family: 'Gloria Hallelujah', cursive;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-image: url("images/paper.avif");
  grid-template-columns: 20vw 80vw;
  
}

.sidebar {
  border-right: 2px solid black;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

h1 {
  font-size: 7vw;
  text-align: center;
}

#turn {
  opacity: 0;
  margin-top: 50px;
  font-size: 2vw;
  text-align: center;
}

#turnPic {
  font-size: 7vw;
}

#scores {
  opacity: 0;
  font-size: 1.9vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  padding: 20px;
  justify-self: baseline;
}

#scores div:first-of-type {
  grid-column: 1/-1;
  text-decoration: underline;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  display: grid;
  height: 60vh;
  width: 60vh;
  grid-template-columns: 1fr 1fr 1fr;
  transform: rotate(3deg);
}

.gridCell {
  font-size: 8vw;
  height: 20vh; 
  width: 20vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridCell:hover {
  background-color: rgba(0, 0, 0, 0.108);
}

.gridCell:first-of-type, .gridCell:nth-of-type(2), .gridCell:nth-of-type(3) {
  border-bottom: none;
}

.gridCell:last-of-type, .gridCell:nth-of-type(7), .gridCell:nth-of-type(8) {
  border-top: none;
}

.gridCell:nth-of-type(2), .gridCell:nth-of-type(5), .gridCell:nth-of-type(8) {
  border-right: none;
  border-left: none;
}

.modal, #introModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 20vw;
    top: 0;
    width: 80vw; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.839); /* Black w/ opacity */
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.modalContent, #welcome {
  color: white;
  height: 100%;
  width: 80vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#welcome {
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5vh;
}

p {
  text-align: center;
  line-height: 1.4;
  font-size: 2.8vw;
}

input {
  height: 5vw;
  width: 20vw;
  font-size: 2vw;
  padding: 0px 5px;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.523);
  color: white;
  border-radius: 15px;
  border: 5px solid white;
}

::placeholder {
  color: white;
  opacity: 1;
}

input:focus {
  background-color: white;
  color: black;
  outline: none;
}

#nameSubmit {
  margin-bottom: 2vw;
}

.modalContent {
  grid-template-rows: 2fr 1fr 2fr;
}

.modalContent h2 {
  font-size: 9.5vw;
  text-align: center;
}

.modalContent p {
  font-size: 5vw;
}

.modalButtons, #names {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.modalButtons button, #nameSubmit {
  color: white;
  background-color: rgba(0, 0, 0, 0.523);
  border: 5px solid white;
  height: 20vh;
  width: 20vw;
  border-radius: 15px;
  font-size: 5vw;
}

.modalButtons button:hover, #nameSubmit:hover  {
  background-color: white;
  color: black;
}
