.container {
  display: grid;
  grid-template-columns: 200px 1fr;
}


#board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridCell {
  background-color: rgb(181, 248, 169);
  height: 200px; 
  width: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}